<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SIP Importer</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicon.png') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <link href="{{ url_for('static', path='/styles.css') }}"
              rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@ds-wizard/importer-sdk/lib/index.js"></script>
        {% if development %}
        <script>
            window.opener = {
                postMessage: () => {
                    window.postMessage({
                        type: 'ready',
                        origin: '',
                        styleUrl: 'https://s3.ds-wizard.org/dsw-server-app/17032b53-f4da-47bb-972c-ea82176422eb/public/customization.6595603168296135982.css',
                        knowledgeModel: '{}',
                    })
                }
            }
        </script>
        {% endif %}
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h1>SMP Importer</h1>
        </div>
    </body>
</html>