<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SMP Importer</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicon.png') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <link href="{{ url_for('static', path='/style.css') }}"
              rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@ds-wizard/importer-sdk/lib/index.js"></script>
        {% if development %}
        <script>
            if (!window.opener || !window.opener.postMessage) {
                window.opener = {
                    postMessage: () => {
                        window.postMessage({
                            type: 'ready',
                            origin: '',
                            styleUrl: 'https://s3.ds-wizard.org/dsw-server-app/8bfcffb9-d276-4777-92a5-3ca25f7cd2bc/public/customization.2794146750364175066.css',
                            knowledgeModel: '{}',
                        })
                    }
                }
            }
        </script>
        {% endif %}
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            {% if debug %}
            <div class="debug">
                <div class="alert alert-secondary" role="alert">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="debug-checkbox">
                        <label class="form-check-label" for="debug-checkbox">enable debugging</label>
                    </div>
                </div>
            </div>
            {% endif %}

            <h1>SMP Importer</h1>

            <div id="input-file">
                <h2>From local file</h2>

                <div class="mb-3">
                    <label for="file-input" class="form-label">Select a file with maSMP (RDF/JSON-LD):</label>
                    <input type="file" id="file-input" class="form-control" />
                </div>
            </div>

            <div id="input-url">
                <h2>From URL</h2>

                <div class="mb-3">
                    <label for="url-input" class="form-label">Enter a URL with maSMP:</label>
                    <div class="input-group mb-3">
                        <input type="url" id="url-input" class="form-control" placeholder="https://example.com/metadata.json" />
                        <button id="btn-url-load" class="btn btn-primary" type="button">Load maSMP</button>
                    </div>
                </div>
            </div>

            <div id="input-url">
                <h2>Public GitHub repository</h2>

                <div class="mb-3">
                    <label class="form-label">Enter a GitHub owner, repo, and file:</label>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" id="github-owner-input" class="form-control" placeholder="owner" />
                            <span class="input-group-text">/</span>
                            <input type="text" id="github-repo-input" class="form-control" placeholder="repo" />
                            <span class="input-group-text">:/</span>
                            <input type="text" id="github-file-input" class="form-control" placeholder="metadata.json" />
                            <button id="btn-github-load" class="btn btn-primary" type="button">Load maSMP</button>
                        </div>
                        <p class="hint">This works only for public GitHub repositories...</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>