html, body {
    width: 100%;
}

.container {
    padding: 1em;
}

.hint {
    font-size: 80%;
    color: rgb(128, 128, 128);
}

.input-group {
    margin: 0 !important;
}

.hide {
    display: none;
}

.debug {
    display: none;
}

.debug .form-check {
    margin: 0;
    padding: 0;
}

.debug .form-check .form-check-input {
    margin-left: 0;
}

.debug .form-check .form-check-label {
    margin-left: 1em;
}
